<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i>
                </button>
            <a class="navbar-brand page-scroll" href="/">CME</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">About Us<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/about/story">Our Story</a></li>
                        <li><a href="/about/mission">Our Mission</a></li>
                        <li><a href="/about/directors">Board of Directors</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">What We Do<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/services/tutors">Our Tutors</a></li>
                        <li><a href="/services/structure">Class Structure</a></li>
                        <li><a href="/services/performances">Performances</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Join<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/join/tutors">Become a Tutor</a></li>
                        <li><a href="/join/students">Enroll a Child</a></li>
                        <li><a href="/join/donate">Donate</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Information<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/information/general">Location & Time</a></li>
                        <li><a href="/information/curriculum">Curriculum</a></li>
                        <li><a href="https://drive.google.com/file/d/0BymgDMdZGxJESjZ1Z2cwdG0zS1E/view?usp=sharing" target="_blank">Code Of Conduct</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Media<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/activities/news">News & Announcements</a></li>
                        <li><a href="/activities/gallery">Gallery</a></li>
                        <li><a href="https://www.facebook.com/CrescME/" target="_blank">Facebook Page</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
 