<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">    <link rel="stylesheet" href="../public/stylesheets/custom-bs.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../public/javascripts/bootstrap.js"></script>
    <title> Crescendo Music Education </title>
</head>

<body>
    <header>

        <div class="jumbotron hidden-xs">
            <div class="img-overlay">
                <img class="img-responsive blur" src="../public/images/concerthall.jpg" />
                <div class="text-overlay">
                    <h2>Grow the Passion</h2>
                    <h1>Crescendo Music Education</h1>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-static-top transparent">
            <div class="container-fluid">

                <!-- Mobile Navbar -->
                <div class="navbar-header">
                    <a class="navbar-brand visible-xs" href="#">Logo</a>

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- NEED TO LINK ALL OF THESE! -->
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class=" glyphicon-minus"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Who We Are</a></li>
                                <li><a href="#">Board of Directors</a></li>
                                <li><a href="#">Our Tutors</a></li>
                                <li><a href="#">Frequently Asked Questions</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Information <span class=" glyphicon-minus"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Time & Location </a></li>
                                <li><a href="#">Code of Conduct </a></li>
                                <li><a href="#">Sample Program of Study</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Join Us <span class=" glyphicon-minus"></span> </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Enroll a Student</a></li>
                                <li><a href="#">Apply to be a Tutor</a> </li>
                                <li><a href="#">Become a Sponsor</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Activities <span class=" glyphicon-minus"></span> </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">End of Season Recitals</a></li>
                                <li><a href="#">Benefit Concerts</a></li>
                                <li><a href="#">Service-Hour Logs (Tutors only)</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Online Resources <span class=" glyphicon-minus"></span> </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Video Tutorials</a></li>
                                <li>
                                    <a href="#"></a>Further Resources</li>
                            </ul>
                        </li>

                        <li><a href="#">News and Updates </a></li>
                        <li><a href="#">Contact Us </a></li>

                    </ul>
                </div>

            </div>
        </nav>
    </header>


</body>

</html>