{% extends "base_no_head.html" %} 

{% load static %}

{% block title %}
Time and Location | Crescendo Music Education
{% endblock title %}

{% block content %}
  <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1 class="section-heading">Time & Location</h2>
                </div>
                
            </div>
        </div>
    </section>

<section class="bg-default">
    <div class="container">
        <div class="row">
            <div class = "col-md-6">
                <h2>
                    Time
                </h2>
                <h4>
                    Saturday 4:00-5:30 P.M.
                </h4>
                                <br/>

                <h2>
                    Location
                </h2>
                <h4>
                    First Presbyterian Church of Annandale
                </h4>
                <p>
                    7610 Newcastle Dr, Annandale, VA 22003
                </p>
                
            </div>
            <div class="col-md-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3108.5620663409386!2d-77.20981688475464!3d38.819586679582805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b64d26438652a9%3A0x7fd9f54bf986bb8d!2sFirst+Presbyterian+Church-Annndl!5e0!3m2!1sen!2sus!4v1480120507321" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
