{% extends "base.html" %} 

{% load static %}

{% block title %}
Enroll a Student | Crescendo Music Education
{% endblock title %}

{% block bgimg %}
<style>
    header {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url({% static 'pages/img/students.jpg' %});
    }
</style>
{% endblock bgimg %} 

{% block header %}
    <h1 class="page-heading">Enroll a Student</h1>
    <p>Want to Enroll Your Child?</p>
    <div class="btn-group" role="group" aria-label="...">
    <a class="btn btn-default btn-xl sr-button page-scroll"  href="#first" target="_blank">Learn More</a>
    <a class="btn btn-default btn-xl sr-button" style="background-color:#ecf0f1;" href="https://crescendoeducation.typeform.com/to/zitNrB" target="_blank">Apply Now</a>
    </div>
    <hr class="light" >
{% endblock header %}

{% block content %}
<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="page-heading">Coming soon</h1>
            </div>
        </div>
    </div>
</section>
<section class="content-section">
    <div class="row content-box">
        <h2 class="section-heading text-center">coming soon</h2>
    </div>
</section>
{% endblock content %}
