{% extends "base.html" %} 

{% load static %}

{% block title %}
Enroll a Student | Crescendo Music Education
{% endblock title %}

{% block bgimg %}
<style>
    header {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url({% static 'pages/img/students.jpg' %});
    }
</style>
{% endblock bgimg %} 

{% block header %}
    <h1 class="page-heading">Enroll a Student</h1>
    <p>Want to Enroll Your Child?</p>
    <a class="btn btn-default btn-xl sr-button page-scroll"  href="#first" target="_blank">Learn More</a>
    </div>
    <hr class="light" >
{% endblock header %}

{% block content %}
<section id="first" class="content-section">
 <div class="row content-box">
                <h2 class="section-heading text-center">Requirements</h2>

        <div class="col-sm-6 col-sm-offset-3 text-left ">
            <ul>
                <i class="fa fa-check-circle sr-icons"></i> Must play a string instrument
            </ul>
            <ul>
                <i class="fa fa-check-circle sr-icons"></i> Must be between 4th and 8th grade
            </ul>
            <ul>
                <i class="fa fa-check-circle sr-icons"></i> Must be able to attend nearly every session on Saturdays from 4-5:30 P.M
            </ul>
            <ul>
                <i class="fa fa-check-circle sr-icons"></i> Must be able to attend the end-of-season recitals
            </ul>
            <ul>
                <i class="fa fa-check-circle sr-icons"></i> Must promise to uphold our <em > <a style="color:#e74c3c;" href="https://drive.google.com/file/d/0BymgDMdZGxJESjZ1Z2cwdG0zS1E/view">Code of Conduct</a></em>
            </ul>
            <ul>
                <i class="fa fa-check-circle sr-icons"></i> Previous experience is <strong>not required</strong>
            </ul>
        </div>

    </div>
</section>
<aside class="bg-primary">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Want to Enroll Your Child?</h2>
            <a class="btn btn-default btn-xl sr-button" href="https://drive.google.com/file/d/0BymgDMdZGxJESjZ1Z2cwdG0zS1E/view" target="_blank">Code of Conduct</a>

            <a class="btn btn-default btn-xl sr-button" href="https://crescendoeducation.typeform.com/to/gGkCb5" target="_blank">Apply Now!</a>
        </div>
    </div>
</aside>
{% endblock content %}
