{% extends "base.html" %} 
{% block content %}
{% load static %}

{% block bgimg %}
    <style>
        header {
            background-image: url({% static 'pages/img/tutors.jpg' %});
        }
    </style>
{% endblock bgimg %}

{% block header %}
   <h1 class="page-heading">Becoming a Tutor</h1>
            <p>Interested in becoming a tutor?</p>
            <hr class="light">
{% endblock header %}

<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                
            </div>
        </div>
    </div>
</section>
<section class="content-section">
    <div class="row content-box">
        <h2 class="section-heading text-center">Your Responsibilities</h2>
        <div class="col-lg-12 text-left">
            <br>
            <ul>
                <h4>As a tutor you will be held responsible for:</h4>
            </ul>
            <ul>
                <i class="fa fa-circle-o sr-icons"></i> Focusing on the musical developements of up to two students in a class
            </ul>
            <ul>
                <i class="fa fa-circle-o sr-icons"></i> Promoting good posture and practice habits
            </ul>
            <ul>
                <i class="fa fa-circle-o sr-icons"></i> Making sure students are enthusiastic about learning and playing music
            </ul>
        </div>
    </div>
    <hr>
    <div class="row content-box">
        <div class="col-sm-6 text-left ">
            <h2 class="section-heading">Requirements</h2>
            <br>
            <ul>
                <i class="fa fa-check-circle sr-icons"></i> Must play a string instrument
            </ul>
            <ul>
                <i class="fa fa-check-circle sr-icons"></i> Must be in high school
            </ul>
            <ul>
                <i class="fa fa-check-circle sr-icons"></i> Must be receiving private lessons either or have received them in the past
            </ul>
            <ul>
                <i class="fa fa-check-circle sr-icons"></i> Must be able to attend every session on Saturdays from 4-5:30 P.M
            </ul>
            <ul>
                <i class="fa fa-check-circle sr-icons"></i> Must be able to attend the end-of-season recitals P.M
            </ul>
        </div>
        <div class="col-sm-6 text-left ">
            <h2 class="section-heading">Audition Requirements
                <h6>(All Instruments)</h6>
            </h2>
            <br>
            <ul>
                <i class="fa fa-check-circle sr-icons"></i> 3 octave C, F, A major scales.
                <br> (2 slurred, 2 separate ascending; 4 slurred descending)
            </ul>
            <ul>
                <i class="fa fa-check-circle sr-icons"></i> 1 Prepared solo that best demonstrates your ability.
                <br> (please bring 2 copies: 1 for the judges, 1 for yourself)
            </ul>
            <ul>
                <i class="fa fa-check-circle sr-icons"></i> Prepared excerpt - First 13 measures from the first movement of Mozart's Symphony no.25.
                <br>
                <a href="https://drive.google.com/file/d/0BymgDMdZGxJEaFdjXzdLemY1Zkk/view?usp=sharing" target="_blank">Violin</a>&nbsp| &nbsp
                <a href="https://drive.google.com/file/d/0BymgDMdZGxJEcV83VG1ZN3hkQlk/view?usp=sharing" target="_blank">Viola</a> &nbsp| &nbsp
                <a href="https://drive.google.com/file/d/0BymgDMdZGxJEMC1UenIxM2MzZ0k/view?usp=sharing" target="_blank">Cello</a>
            </ul>
        </div>
    </div>
    <hr>
</section>
<aside class="bg-primary">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Excited to join our team?</h2>
            <a class="btn btn-default btn-xl sr-button" href="https://crescendoeducation.typeform.com/to/zitNrB" target="_blank">Apply Now!</a>
        </div>
    </div>
</aside>
{% endblock content %}
