{% extends "base.html" %} {% block content %} {% load static %} {% block bgimg %}
<style>
    header {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url({% static 'pages/img/tutors.jpg' %});
    }
</style>
{% endblock bgimg %} 

{% block header %}
    <h1 class="page-heading">Board of Directors</h1>
    <p>Meet the students behind the scenes</p>
    <hr class="light"> 
{% endblock header %}

<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="page-heading">Coming soon</h1>
            </div>
        </div>
    </div>
</section>
<section class="content-section">
    <div class="row content-box">
        <h2 class="section-heading text-center">coming soon</h2>
    </div>
</section>
{% endblock content %}
